div1 {
    background-color: beige;
}
Form {
    background-color: rgb(255, 255, 255);
    padding: 40px 60px;
    border: 2px solid black;
    border-radius: 48px;
    margin: 15px;
    float: left;
    width: 19%;
    margin-left: 120px;
}
Form Label {
    font-family: verdana;
    font-weight: bold;
    font-size: 100%;
}
text {
    font-family: verdana;
    font-size: 100%;
}
